@import '~theme/variables.scss';

.modal {

  i.fa.fa-close {
    color: rgb(245, 246, 247);

    &:hover {
      opacity: 0.8;
    }
  }

  .modal-content {
    position: relative;
    width: 500px;
    padding: 30px;
    background: $lightgray;
    border-radius: 4px;

    .modal-title {
      font-size: 22px;
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    input {
      margin: 10px 0;
      width: 100%;
    }

    button {
      display: inline-block;
      margin: 0 auto;
      margin-top: 10px;
    }

    h1 {
      margin: 0;
      font-size: 18px;
    }

    p {
      margin: 0;
      font-size: 16px;
    }

    i {
      position: absolute;
      top: -35px;
      right: -35px;
      color: $lightgray;
      font-size: 35px;
      cursor: pointer;
    }
  }
}
