$height: 233px;
$width: 285px;
$imgHeight: 152px;
$borderRadius: 4px;

.restaurant-card {
	// reset
	p, img, div {
		padding: 0;
		border: 0;
		margin: 0;
	}
	cursor: pointer;
	height: $height;
	width: 	$width;
	border-radius: $borderRadius;
  	background-color: #e6eaee;
	img {
		height: $imgHeight;
		width: $width;
		vertical-align: middle;
		border-top-left-radius: $borderRadius;
		border-top-right-radius: $borderRadius;
	}
	.description {
		position: relative;
		text-align: left;
		padding: 11px 10px 13px;
		width: $width;
		height: $height - $imgHeight;
		.description-container {
			position: absolute;
			width: $width - 20;
			height: $height - $imgHeight - 24;
			.name {
				line-height: 19px;
				text-transform: uppercase;
				width: 200px;
				font-size: 16px;
				font-weight: bold;
				color: #ff5c00;
			}
			i.location-icon {
				background: url('location-icon.png');
				position: absolute;
				bottom: 0;
				left: 0;
				margin: 2px 0;
				width: 10.5px;
				height: 13px;
				background-size: 100%;
			}
			.address {
				vertical-align: bottom;
				position: absolute;
				margin-left: 14px;
				line-height: 17px;
				bottom: 0;
				left: 0;
				font-size: 14px;
				font-weight: normal;
				color: #354052;
				width: 142px;
			}
			i.time-icon {
				background: url('time-icon.png');
				position: absolute;
				bottom: 0;
				right: 86px;
				margin: 2px 0;
				width: 13px;
				height: 13px;
				background-size: 100%;
			}
			.time-slot {
				text-align: right;
				position: absolute;
				bottom: 0;
				right: 0;
				line-height: 17px;
				font-size: 14px;
			}
		}
	}
}