.order-details {
  width: 100%;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
	border: solid 1px #e6eaee;
  margin-bottom: 5px;

  .order-header {
    height: 40px;
    border-bottom: solid 1px #e6eaee;
    background-color: #f5f6f7;
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: 600;
  	font-size: 14px;
  	color: #151516;

    .mini-logo {
      height: 12px;
      width: 18px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url('group-5@2x.png');
      margin-right: 5px;
    }

    i {
      color: rgba(21, 21, 22, 0.25);
      margin-left: 5px;
      cursor: pointer;
    }
  }

  .order-content {
    padding: 15px;
    font-size: 14px;
  	color: #151516;

    .rectangle {
      display: inline-block;
      width: 5px;
      height: 5px;
      background-color: #DBE0E4;
      margin-right: 10px;
    }
  }
}
