// BORDER-BOX

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

// PREVENT BOUNCE SCROLLING IN OSX

html {
  overflow: hidden;
}

html, body, #app {
  height: 100%;
  width: 100%;
}
