<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>__TITLE__</title>
    {% if (o.htmlWebpackPlugin.options.bundle) { %}
      {% if (o.htmlWebpackPlugin.files && o.htmlWebpackPlugin.files.chunks) { %}
        {% if (o.htmlWebpackPlugin.files.chunks.main && o.htmlWebpackPlugin.files.chunks.main.css) { %}
          {% for (var chunk in o.htmlWebpackPlugin.files.chunks.main.css) { %}
            <link rel="stylesheet" href="{%=o.htmlWebpackPlugin.files.chunks.main.css[chunk]%}" media="all">
          {% } %}
        {% } %}
      {% } %}
    {% } %}
  </head>
  <body>
    <div id="app">__CONTENT__</div>
    <script src="/bundle.js__GZIP__"></script>
    <script>
      (function () {
        var mountNode = document.getElementById('app');
        var state = __STATE__;
        var data = __DATA__;
        var locale = __LOCALE__ || (navigator.languages || [])[0] || navigator.language || navigator.browserLanguage || 'en';
        webclient.main(mountNode, state, data, locale);
      })();
    </script>
  </body>
</html>
