{
  "NODE_ENV": "production",
  "hostname": "0.0.0.0",
  "port": 9090,
  "apiEndpoint": "http://localhost:8080",
  "eslint": true,
  "uglify": true,
  "gzip": true,
  "title": "Yet another revenge app"
}
